GLExchange/pd_ws/wsdl/ProjectAClientService_4130.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://impl.services.service.ws.projectdirector.gs4tr.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:ax21="http://dto.model.projectdirector.gs4tr.org/xsd"
	targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org">
	<wsdl:documentation>ProjectAClientService_4130 - Do not use this, for TDC purporses only</wsdl:documentation>
	<wsdl:documentation>
		In order to append client application name in PD log,
		SOAP header has to contain "userAgent" property with client
		application name.
	</wsdl:documentation>
	<!--SOAP header example - <commons:userAgent xmlns:commons="http://commons.ws.projectdirector.gs4tr.org">AppName</commons:userAgent> -->
	<wsdl:types>
		<xs:schema xmlns:ax22="http://dto.model.projectdirector.gs4tr.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org">
			<xs:import namespace="http://dto.model.projectdirector.gs4tr.org/xsd"
				schemaLocation="types.xsd" />
			<xs:element name="findByName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByNameResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax22:ProjectAClient" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByOrganizationName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organizationName" nillable="false"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByOrganizationNameResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" maxOccurs="unbounded" minOccurs="0"
							type="ax22:ProjectAClient" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="findByNameRequest">
		<wsdl:part name="parameters" element="ns:findByName" />
	</wsdl:message>
	<wsdl:message name="findByNameResponse">
		<wsdl:part name="parameters" element="ns:findByNameResponse" />
	</wsdl:message>
	<wsdl:message name="findByOrganizationNameRequest">
		<wsdl:part name="parameters" element="ns:findByOrganizationName" />
	</wsdl:message>
	<wsdl:message name="findByOrganizationNameResponse">
		<wsdl:part name="parameters" element="ns:findByOrganizationNameResponse" />
	</wsdl:message>
	<wsdl:portType name="ProjectAClientServicePortType">
		<wsdl:operation name="findByName">
			<wsdl:input message="ns:findByNameRequest" wsaw:Action="urn:findByName" />
			<wsdl:output message="ns:findByNameResponse" wsaw:Action="urn:findByNameResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByOrganizationName">
			<wsdl:input message="ns:findByOrganizationNameRequest"
				wsaw:Action="urn:findByOrganizationName" />
			<wsdl:output message="ns:findByOrganizationNameResponse"
				wsaw:Action="urn:findByOrganizationNameResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProjectAClientServiceSoap11Binding"
		type="ns:ProjectAClientServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByName">
			<soap:operation soapAction="urn:findByName" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByOrganizationName">
			<soap:operation soapAction="urn:findByOrganizationName"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectAClientServiceSoap12Binding"
		type="ns:ProjectAClientServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="findByName">
			<soap:operation soapAction="urn:findByName" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByOrganizationName">
			<soap:operation soapAction="urn:findByOrganizationName"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectAClientServiceHttpBinding"
		type="ns:ProjectAClientServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="findByName">
			<http:operation location="ProjectAClientService_4130/findByName" />
			<wsdl:input>
				<mime:content type="text/xml" part="findByName" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findByName" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByOrganizationName">
			<http:operation location="ProjectAClientService_4130/findByOrganizationName" />
			<wsdl:input>
				<mime:content type="text/xml" part="findByOrganizationName" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findByOrganizationName" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProjectAClientService_4130">
		<wsdl:port name="ProjectAClientServiceHttpSoap11Endpoint"
			binding="ns:ProjectAClientServiceSoap11Binding">
			<soap:address
				location="http://localhost/services/ProjectAClientService_4130.ProjectAClientServiceHttpSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="ProjectAClientServiceHttpSoap12Endpoint"
			binding="ns:ProjectAClientServiceSoap12Binding">
			<soap:address
				location="http://localhost/services/ProjectAClientService_4130.ProjectAClientServiceHttpSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="ProjectAClientServiceHttpEndpoint" binding="ns:ProjectAClientServiceHttpBinding">
			<soap:address
				location="http://localhost/services/ProjectAClientService_4130.ProjectAClientServiceHttpEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>